.App {
  text-align: center;
  padding: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.element-wrapper {
  margin-bottom: 20px;
}

.roosevelt-image {
  max-width: 100%;
  height: auto;
}

.image-caption {
  color: #666;
  font-style: italic;
}

.app-title {
  font-weight: bold; /* Makes the title bold */
  text-align: center; /* Centers the title */
  font-size: 24px; /* Adjust the size as needed */
  margin-bottom: 20px; /* Adds some space below the title */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
